body {
    background-color: #F8F8F8;
    /*EDDEA4, EFC69B*/
}

div {
    max-width: 1200px;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
}

td, th {
    width: 7%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0;
    text-align: center;
}

td {
    background-color: white;
}

th {
    background-color: #C59FC9;
}

tr {
    padding: 0;
    height: 40px;
}

input[type=number], input[type=text], select{
    width: 100%;
    height: 40px;
    margin: 0px;
    box-sizing: border-box;
    border: 0;
}

p{
    font-weight: bold;
    font-size:20px;
}

a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.flist {
   border:1px dotted;
   padding: 5%;
}

.fdiv {
    text-align: left;
    margin-bottom: 10%;
    border: 1px solid;
    padding: 5%;
    background-color: white;
}

#sol_list {
    justify-content: center;
    width:90%;
}

#solvebtn {
    width:10%;
    height: 40px;
    font-size: 16px;
}

.nutrTb{
    width: 100%;
}

.inp {
    background-color: #dddddd;
}

#uploadDv {
    width: 400px;
    height: 150px;
    background-color: #C59FC9;
    border: 1px solid #dddddd;
}
